<suite name="Deal of the day">
    <test name="Test-cases for the add-on 'Extended promotions'">
        <classes>
            <!--Тест-кейсы для Общих настроек модуля -->
            <class name="PromotionPage_Var1" />
            <class name="PromotionPage_Var2" />
        </classes>
    </test>
</suite>